#container {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first button{
  height:50px;
  width: 50px;
  border-color: brown;
  border-radius: 8px 0px 0px 8px;
  background-color: white;
  font-size:xx-large;
  color: brown;
  text-align: center;
}

#second input{
  height:44px;
  width: 44px;
  border-color: brown;
  border-left: 0px;
  border-right: 0px;
  background-color: rgb(243, 197, 197);
  font-size:large;
  color: brown;
  text-align: center;
}

#third button{
  height:50px;
  width: 50px;
  border-color: brown;
  border-radius: 0px 8px 8px 0px;
  background-color: brown;
  font-size:xx-large;
  color: white;
  text-align: center;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
